In [4]:
import numpy as np
import pandas as pd

In [5]:
movies = pd.read_csv("tmdb_5000_movies.csv")
credits= pd.read_csv("tmdb_5000_credits.csv")

In [6]:
movies = movies.merge(credits, on="title")

In [7]:
movies.info(4)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [8]:
# now doing preprocessing- means filtering data as per our needs
# removing useless columns now - filtering data:-

movies=movies[["movie_id", "title", "overview","genres", "keywords","cast", "crew"]]

In [9]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [10]:
movies.dropna(inplace=True)

In [11]:
movies.loc[4].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 878, "name": "Science Fiction"}]'

In [12]:
import ast

In [13]:
# functions to do preprocessing of data

def extractinfo(obj):
    List= []
    for i in ast.literal_eval(obj): # obj is given as string, convett to list
        List.append(i["name"])
    return List


def extractinfo3(obj):
    List= []
    cnt=0
    for i in ast.literal_eval(obj): # obj is given as string, convett to list
        if cnt==3:
            break
        List.append(i["name"])
        cnt+=1
    return List

def extract_director(obj):
    List= []
    
    for i in ast.literal_eval(obj): # obj is given as string, convert to list
        if i["job"] == "Director":
            List.append(i["name"])
            break
            
        
    return List

def remove_space(list):

    for s in list:
        s=s.replace(" ", "")
    return

In [14]:
movies["genres"] =movies['genres'].apply(extractinfo)

In [15]:
movies['crew'] = movies["crew"].apply(extract_director)
# movies.head(5)

In [16]:
# movies['keywords'] = movies['keywords'].apply(extractinfo)
# movies['overview'][0]
movies['genres'] = movies['genres'].apply(lambda x:[ i.replace(" ","")  for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[ i.replace(" ","")  for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[ i.replace(" ","")  for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[ i.replace(" ","")  for i in x])

movies.head()
# movies['cast']= movies["cast"].apply(extractinfo3)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, ScienceFiction]","[[, {, "", i, d, "", :, , 1, 4, 6, 3, ,, , "", n,...","[[, {, "", c, a, s, t, _, i, d, "", :, , 2, 4, 2...",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[[, {, "", i, d, "", :, , 2, 7, 0, ,, , "", n, a,...","[[, {, "", c, a, s, t, _, i, d, "", :, , 4, ,, ,...",[GoreVerbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[[, {, "", i, d, "", :, , 4, 7, 0, ,, , "", n, a,...","[[, {, "", c, a, s, t, _, i, d, "", :, , 1, ,, ,...",[SamMendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[[, {, "", i, d, "", :, , 8, 4, 9, ,, , "", n, a,...","[[, {, "", c, a, s, t, _, i, d, "", :, , 2, ,, ,...",[ChristopherNolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, ScienceFiction]","[[, {, "", i, d, "", :, , 8, 1, 8, ,, , "", n, a,...","[[, {, "", c, a, s, t, _, i, d, "", :, , 5, ,, ,...",[AndrewStanton]

In [17]:
#  add a new column in out data frames
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies["crew"]

movies.head(4)

TypeError: can only concatenate str (not "list") to str

In [ ]:
new_df = movies[["movie_id", "title", "tags"]]
new_df["tags"]= new_df["tags"].apply(lambda x: " ".join(x))

NameError: name 'movies' is not defined

In [ ]:
new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())

NameError: name 'new_df' is not defined

In [19]:
new_df.head(2)

NameError: name 'new_df' is not defined